@import "tailwindcss";

:root {
  --background: #F9F8F7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F8F7;
    --foreground: #171717;
  }
}

html,
body {
  background-color: #F9F8F7 !important;
  background: #F9F8F7 !important;
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), sans-serif;
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* スクロールバーを非表示にする（スマホ用） */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
